.header {
  width: 100%;
}
.navbarContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  padding: 1rem;
}
.navbarOptions {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
  place-content: center;
  text-align: end;
}

.navbarOptionshidden {
  display: none;
}
.link {
  color: #000000;
  text-decoration: none;
}
.logo {
  color: #000000;
}
@media screen and (min-width: 768px) {
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .navbarOptionshidden,
  .navbarOptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    place-content: center;
    text-align: center;
  }
}
