.cardsContainer {
  height: auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  padding: 0;
  padding: 2rem 0;
  transition: 1s;
}
@media screen and (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    padding-top: 2rem;
  }
}
