.container {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.116);
  border-radius: 12px;
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}
.containerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subject {
  color: #363942;
}
.btn {
  border-radius: 20px;
  height: 30px;
}
.btn:hover {
  background-color: #3db2da;
  color: white;
}
