.wrapper {
  margin: 0 auto;
}
.btnContainer {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 1rem;
}

.btn {
  background-color: #62b6cb;
  color: white;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
  color: transparent;
  text-shadow: 0 0 0 rgb(255, 255, 255);
}
.btn:active {
  box-shadow: 2px 2px 5px #ffffff;
}
.btn:hover {
  background-color: #05bbd3;
  color: #ffffff;
}
