@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  padding: 0;
  margin: 0;
} /*16px*/
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(250, 251, 252);
  font-size: 0.9rem;
}
button {
  background-color: white;
  border: 2px solid #3db2da;
  color: #3db2da;
  border-radius: 10px;
  cursor: pointer;
  outline: inherit;
  padding: 0rem 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  transition: 0.2s;
}

button:hover {
  background-color: #3db2da;
  color: white;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  button {
    transition: 0.3s;
  }
}
